:root[data-theme='dark'] {
  --twk-theme-neutral-0: #1a1a24;
  --twk-theme-neutral-25: #23232f;
  --twk-theme-neutral-50: #2e2e38;
  --twk-theme-neutral-100: #33333e;
  --twk-theme-neutral-200: #3f3f4c;
  --twk-theme-neutral-300: #4e4e5d;
  --twk-theme-neutral-400: #5f5f72;
  --twk-theme-neutral-500: #737387;
  --twk-theme-neutral-600: #8a8a9b;
  --twk-theme-neutral-700: #a4a3b1;
  --twk-theme-neutral-800: #bfbfc8;
  --twk-theme-neutral-900: #dedee2;
  --twk-theme-neutral-1000: #fff;
  --twk-bg-colors-default-primary: #23232f;
  --twk-bg-colors-default-secondary: #2e2e38;
  --twk-bg-colors-default-tertiary: #33333e;
  --twk-bg-colors-default-extra-a: #1a1a24;
  --twk-bg-colors-default-extra-b: #3f3f4c;
  --twk-bg-colors-hover-primary: #2e2e38;
  --twk-bg-colors-hover-secondary: #33333e;
  --twk-bg-colors-hover-tertiary: #3f3f4c;
  --twk-bg-colors-hover-extra-a: #23232f;
  --twk-bg-colors-focus-primary: #2e2e38;
  --twk-bg-colors-focus-secondary: #33333e;
  --twk-bg-colors-focus-tertiary: #3f3f4c;
  --twk-bg-colors-focus-extra-a: #23232f;
  --twk-bg-colors-focus-extra-b: #1a1a24;
  --twk-bg-colors-active-tertiary: #2e2e38;
  --twk-bg-colors-active-secondary: #33333e;
  --twk-bg-colors-active-primary: #3f3f4c;
  --twk-bg-colors-disabled-primary: #2e2e38;
  --twk-bg-colors-disabled-secondary: #33333e;
  --twk-bg-colors-disabled-tertiary: #737387;
  --twk-bg-colors-disabled-extra-a: #23232f;
  --twk-bg-colors-selected-default-primary: #33333e;
  --twk-bg-colors-selected-default-secondary: #2e2e38;
  --twk-bg-colors-selected-hover-primary: #33333e;
  --twk-bg-colors-selected-hover-secondary: #2e2e38;
  --twk-bg-colors-selected-focus-primary: #33333e;
  --twk-bg-colors-selected-active-primary: #3f3f4c;
  --twk-bg-colors-selected-disabled-primary: #2e2e38;
  --twk-bg-colors-selected-disabled-secondary: #23232f;
  --twk-bg-colors-read-only-primary: #8a8a9b;
  --twk-bg-colors-read-only-secondary: #1a1a24;
  --twk-bg-colors-overlay-primary: rgb(87.1% 87.1% 88.6% / 0.3);
  --twk-border-colors-default-primary: #33333e;
  --twk-border-colors-default-secondary: #4e4e5d;
  --twk-border-colors-default-tertiary: #8a8a9b;
  --twk-border-colors-default-extra-a: #23232f;
  --twk-border-colors-default-extra-b: #3f3f4c;
  --twk-border-colors-hover-primary: #4e4e5d;
  --twk-border-colors-hover-secondary: #8a8a9b;
  --twk-border-colors-hover-extra-a: #33333e;
  --twk-border-colors-focus-primary: #4e4e5d;
  --twk-border-colors-focus-secondary: #8a8a9b;
  --twk-border-colors-focus-extra-a: #33333e;
  --twk-border-colors-active-primary: #4e4e5d;
  --twk-border-colors-active-secondary: #8a8a9b;
  --twk-border-colors-disabled-secondary: #33333e;
  --twk-border-colors-disabled-primary: #4e4e5d;
  --twk-border-colors-selected-default-primary: #4e4e5d;
  --twk-border-colors-selected-default-secondary: #8a8a9b;
  --twk-border-colors-selected-disabled-primary: #4e4e5d;
  --twk-border-colors-read-only-primary: #8a8a9b;
  --twk-text-colors-default-primary: #dedee2;
  --twk-text-colors-default-secondary: #a4a3b1;
  --twk-text-colors-default-tertiary: #737387;
  --twk-text-colors-default-extra-a: #1a1a24;
  --twk-text-colors-hover-primary: #dedee2;
  --twk-text-colors-hover-secondary: #bfbfc8;
  --twk-text-colors-hover-tertiary: #a4a3b1;
  --twk-text-colors-focus-primary: #dedee2;
  --twk-text-colors-focus-secondary: #bfbfc8;
  --twk-text-colors-focus-tertiary: #a4a3b1;
  --twk-text-colors-active-primary: #dedee2;
  --twk-text-colors-active-secondary: #a4a3b1;
  --twk-text-colors-disabled-primary: #737387;
  --twk-text-colors-selected-default-primary: #dedee2;
  --twk-text-colors-selected-disabled-primary: #737387;
  --twk-text-colors-read-only-primary: #dedee2;
  --twk-text-colors-read-only-secondary: #a4a3b1;
  --twk-icon-colors-default-primary: #a4a3b1;
  --twk-icon-colors-default-secondary: #737387;
  --twk-icon-colors-default-tertiary: #4e4e5d;
  --twk-icon-colors-default-extra-a: #dedee2;
  --twk-icon-colors-default-extra-b: #1a1a24;
  --twk-icon-colors-hover-primary: #bfbfc8;
  --twk-icon-colors-hover-secondary: #a4a3b1;
  --twk-icon-colors-focus-primary: #bfbfc8;
  --twk-icon-colors-focus-secondary: #a4a3b1;
  --twk-icon-colors-active-primary: #dedee2;
  --twk-icon-colors-active-secondary: #a4a3b1;
  --twk-icon-colors-disabled-primary: #737387;
  --twk-icon-colors-disabled-secondary: #a4a3b1;
  --twk-icon-colors-selected-default-primary: #a4a3b1;
  --twk-icon-colors-selected-default-secondary: #5f5f72;
  --twk-icon-colors-selected-disabled-primary: #737387;
  --twk-icon-colors-read-only-primary: #737387;
  --twk-accent-success-primary: #34ce63;
  --twk-accent-success-secondary: #26a04b;
  --twk-accent-success-tertiary: #1f893f;
  --twk-accent-success-extra-a: #0a3616;
  --twk-accent-success-extra-b: #0c4a1f;
  --twk-accent-success-extra-c: #125e29;
  --twk-accent-warning-primary: #ff9831;
  --twk-accent-warning-secondary: #d07200;
  --twk-accent-warning-tertiary: #b26100;
  --twk-accent-warning-extra-a: #462602;
  --twk-accent-warning-extra-b: #623300;
  --twk-accent-warning-extra-c: #7b4100;
  --twk-accent-error-primary: #ff4336;
  --twk-accent-error-secondary: #ff4336;
  --twk-accent-error-tertiary: #ea011d;
  --twk-accent-error-extra-a: #610402;
  --twk-accent-error-extra-b: #83000b;
  --twk-accent-error-extra-c: #a40011;
  --twk-accent-error-extra-d: #ea011d;
  --twk-accent-error-extra-e: #ff735e;
  --twk-accent-info-primary: #85b9fd;
  --twk-accent-info-secondary: #55a6fc;
  --twk-accent-info-tertiary: #188ce5;
  --twk-accent-info-extra-a: #083153;
  --twk-accent-info-extra-b: #064372;
  --twk-accent-info-extra-c: #0a558e;
  --twk-accent-info-extra-d: #85b9fd;
  --twk-accent-info-extra-e: #188ce5;
  --twk-accent-info-extra-f: #f4f7fc;
  --twk-accent-info-extra-g: #0f69ae;
  --twk-accent-visited-primary: #c2abe3;
  --twk-accent-visited-secondary: #9d7cd4;
  --twk-accent-visited-extra-a: #361c75;
  --twk-accent-visited-extra-b: #4a279f;
  --twk-accent-visited-extra-c: #e5dcf1;
  --twk-accent-visited-extra-d: #b094dc;
  --twk-accent-maroon-primary: #ecbdda;
  --twk-accent-maroon-secondary: #da5bb3;
  --twk-accent-maroon-extra-a: #4c1c3d;
  --twk-accent-maroon-extra-b: #682754;
  --twk-accent-teal-primary: #2fc9c7;
  --twk-accent-teal-secondary: #229b9a;
  --twk-accent-teal-extra-a: #093434;
  --twk-accent-teal-extra-b: #0b4847;
  --twk-accent-teal-extra-c: #105b5a;
  --twk-accent-teal-extra-d: #8bf4f1;
  --twk-alt-bg-colors-default-primary: #dedee2;
  --twk-alt-bg-colors-default-secondary: #8a8a9b;
  --twk-alt-bg-colors-default-extra-a: #2e2e38;
  --twk-alt-bg-colors-hover-primary: #bfbfc8;
  --twk-alt-bg-colors-hover-secondary: #a4a3b1;
  --twk-alt-bg-colors-hover-tertiary: #737387;
  --twk-alt-bg-colors-focus-primary: #bfbfc8;
  --twk-alt-bg-colors-focus-secondary: #a4a3b1;
  --twk-alt-bg-colors-focus-tertiary: #737387;
  --twk-alt-bg-colors-active-primary: #a4a3b1;
  --twk-alt-bg-colors-active-secondary: #8a8a9b;
  --twk-alt-bg-colors-selected-default-primary: #1a1a24;
  --twk-alt-bg-colors-selected-default-secondary: #33333e;
  --twk-alt-bg-colors-selected-default-extra-a: #a4a3b1;
  --twk-alt-bg-colors-selected-default-extra-b: #dedee2;
  --twk-alt-bg-colors-selected-hover-primary: #8a8a9b;
  --twk-alt-bg-colors-overlay-primary: rgb(18% 18% 22% / 0.3);
  --twk-alt-border-colors-default-primary: #1a1a24;
  --twk-alt-border-colors-default-extra-a: #a4a3b1;
  --twk-alt-border-colors-default-extra-b: #dedee2;
  --twk-alt-text-colors-default-primary: #23232f;
  --twk-alt-text-colors-default-secondary: #2e2e38;
  --twk-alt-text-colors-default-extra-a: #5f5f72;
  --twk-alt-text-colors-default-extra-b: #a4a3b1;
  --twk-alt-text-colors-default-extra-c: #dedee2;
  --twk-alt-text-colors-selected-default-primary: #23232f;
  --twk-alt-icon-colors-default-primary: #5f5f72;
  --twk-alt-icon-colors-selected-default-primary: #1a1a24;
  --twk-alt-icon-colors-selected-default-extra-a: #a4a3b1;
  --twk-alt-accent-error-primary: #23232f;
  --twk-alt-accent-error-secondary: #23232f;
  --twk-alt-accent-info-primary: #0f69ae;
  --twk-contrast-high-neutral-0: #737387;
  --twk-contrast-high-neutral-50: #737387;
  --twk-contrast-high-neutral-600: #bfbfc8;
  --twk-contrast-high-neutral-750: #dedee2;
  --twk-contrast-high-neutral-900: #fff;
  --twk-contrast-low-neutral-400: #2e2e38;
  --twk-contrast-low-neutral-900: #a4a3b1;
  --twk-contrast-brand-primary: #2e2e38;
  --twk-contrast-brand-secondary: #ffe600;
  --twk-contrast-brand-hover-primary: rgb(85% 76.7% 0%);
  --twk-contrast-brand-focus-primary: rgb(85% 76.7% 0%);
  --twk-static-neutral-0: #fff;
  --twk-static-neutral-900: #2e2e38;
  --twk-static-error-50: #fcd7cf;
  --twk-shadow-colors-primary: rgb(10.2% 10.2% 14.1% / 0.12);
  --twk-shadow-colors-secondary: rgb(10.2% 10.2% 14.1% / 0.16);
  --twk-shadow-colors-alt-primary: rgb(13.7% 13.7% 18.4% / 0.06);
  --twk-shadow-colors-alt-secondary: rgb(13.7% 13.7% 18.4% / 0.08);
  --twk-body-bg-color: #1a1a24;
  --twk-body-text-color: #dedee2;
}
