:root {
  --twk-theme-neutral-0: #fff;
  --twk-theme-neutral-25: #f9f9fa;
  --twk-theme-neutral-50: #f3f3f5;
  --twk-theme-neutral-100: #e6e6e9;
  --twk-theme-neutral-200: #d7d7dc;
  --twk-theme-neutral-300: #c3c3cb;
  --twk-theme-neutral-400: #afaeba;
  --twk-theme-neutral-500: #9897a6;
  --twk-theme-neutral-600: #7f7f91;
  --twk-theme-neutral-700: #656579;
  --twk-theme-neutral-800: #4d4d5c;
  --twk-theme-neutral-900: #2e2e38;
  --twk-theme-neutral-1000: #23232f;
  --twk-bg-colors-default-primary: #fff;
  --twk-bg-colors-default-secondary: #f3f3f5;
  --twk-bg-colors-default-tertiary: #e6e6e9;
  --twk-bg-colors-default-extra-a: #f9f9fa;
  --twk-bg-colors-default-extra-b: #d7d7dc;
  --twk-bg-colors-hover-primary: #f3f3f5;
  --twk-bg-colors-hover-secondary: #e6e6e9;
  --twk-bg-colors-hover-tertiary: #d7d7dc;
  --twk-bg-colors-hover-extra-a: #fff;
  --twk-bg-colors-focus-primary: #f3f3f5;
  --twk-bg-colors-focus-secondary: #e6e6e9;
  --twk-bg-colors-focus-tertiary: #d7d7dc;
  --twk-bg-colors-focus-extra-a: #fff;
  --twk-bg-colors-focus-extra-b: #f9f9fa;
  --twk-bg-colors-active-tertiary: #f3f3f5;
  --twk-bg-colors-active-secondary: #e6e6e9;
  --twk-bg-colors-active-primary: #d7d7dc;
  --twk-bg-colors-disabled-primary: #f3f3f5;
  --twk-bg-colors-disabled-secondary: #e6e6e9;
  --twk-bg-colors-disabled-tertiary: #9897a6;
  --twk-bg-colors-disabled-extra-a: #fff;
  --twk-bg-colors-selected-default-primary: #e6e6e9;
  --twk-bg-colors-selected-default-secondary: #f3f3f5;
  --twk-bg-colors-selected-hover-primary: #e6e6e9;
  --twk-bg-colors-selected-hover-secondary: #f3f3f5;
  --twk-bg-colors-selected-focus-primary: #e6e6e9;
  --twk-bg-colors-selected-active-primary: #d7d7dc;
  --twk-bg-colors-selected-disabled-primary: #f3f3f5;
  --twk-bg-colors-selected-disabled-secondary: #f9f9fa;
  --twk-bg-colors-read-only-primary: #7f7f91;
  --twk-bg-colors-read-only-secondary: #fff;
  --twk-bg-colors-overlay-primary: rgb(18% 18% 22% / 0.3);
  --twk-alt-bg-colors-default-primary: #2e2e38;
  --twk-alt-bg-colors-default-secondary: #7f7f91;
  --twk-alt-bg-colors-default-extra-a: #f3f3f5;
  --twk-alt-bg-colors-hover-primary: #4d4d5c;
  --twk-alt-bg-colors-hover-secondary: #656579;
  --twk-alt-bg-colors-hover-tertiary: #9897a6;
  --twk-alt-bg-colors-focus-primary: #4d4d5c;
  --twk-alt-bg-colors-focus-secondary: #656579;
  --twk-alt-bg-colors-focus-tertiary: #9897a6;
  --twk-alt-bg-colors-active-primary: #656579;
  --twk-alt-bg-colors-active-secondary: #7f7f91;
  --twk-alt-bg-colors-selected-default-primary: #fff;
  --twk-alt-bg-colors-selected-default-secondary: #e6e6e9;
  --twk-alt-bg-colors-selected-default-extra-a: #656579;
  --twk-alt-bg-colors-selected-default-extra-b: #2e2e38;
  --twk-alt-bg-colors-selected-hover-primary: #7f7f91;
  --twk-alt-bg-colors-overlay-primary: rgb(95.3% 95.3% 96.1% / 0.3);
  --twk-alt-border-colors-default-primary: #fff;
  --twk-alt-border-colors-default-extra-a: #656579;
  --twk-alt-border-colors-default-extra-b: #2e2e38;
  --twk-alt-text-colors-default-primary: #f9f9fa;
  --twk-alt-text-colors-default-secondary: #f3f3f5;
  --twk-alt-text-colors-default-extra-a: #afaeba;
  --twk-alt-text-colors-default-extra-b: #656579;
  --twk-alt-text-colors-default-extra-c: #2e2e38;
  --twk-alt-text-colors-selected-default-primary: #fff;
  --twk-alt-icon-colors-default-primary: #afaeba;
  --twk-alt-icon-colors-selected-default-primary: #fff;
  --twk-alt-icon-colors-selected-default-extra-a: #656579;
  --twk-alt-accent-error-primary: #fcf5f3;
  --twk-alt-accent-error-secondary: #fcd7cf;
  --twk-alt-accent-info-primary: #85b9fd;
  --twk-border-colors-default-primary: #e6e6e9;
  --twk-border-colors-default-secondary: #c3c3cb;
  --twk-border-colors-default-tertiary: #7f7f91;
  --twk-border-colors-default-extra-a: #fff;
  --twk-border-colors-default-extra-b: #d7d7dc;
  --twk-border-colors-hover-primary: #c3c3cb;
  --twk-border-colors-hover-secondary: #7f7f91;
  --twk-border-colors-hover-extra-a: #e6e6e9;
  --twk-border-colors-focus-primary: #c3c3cb;
  --twk-border-colors-focus-secondary: #7f7f91;
  --twk-border-colors-focus-extra-a: #e6e6e9;
  --twk-border-colors-active-primary: #c3c3cb;
  --twk-border-colors-active-secondary: #7f7f91;
  --twk-border-colors-disabled-primary: #c3c3cb;
  --twk-border-colors-disabled-secondary: #e6e6e9;
  --twk-border-colors-selected-default-primary: #c3c3cb;
  --twk-border-colors-selected-default-secondary: #7f7f91;
  --twk-border-colors-selected-disabled-primary: #c3c3cb;
  --twk-border-colors-read-only-primary: #7f7f91;
  --twk-text-colors-default-primary: #2e2e38;
  --twk-text-colors-default-secondary: #656579;
  --twk-text-colors-default-tertiary: #9897a6;
  --twk-text-colors-default-extra-a: #fff;
  --twk-text-colors-hover-primary: #2e2e38;
  --twk-text-colors-hover-secondary: #4d4d5c;
  --twk-text-colors-hover-tertiary: #656579;
  --twk-text-colors-focus-primary: #2e2e38;
  --twk-text-colors-focus-secondary: #4d4d5c;
  --twk-text-colors-focus-tertiary: #656579;
  --twk-text-colors-active-primary: #2e2e38;
  --twk-text-colors-active-secondary: #656579;
  --twk-text-colors-disabled-primary: #9897a6;
  --twk-text-colors-selected-default-primary: #2e2e38;
  --twk-text-colors-selected-disabled-primary: #9897a6;
  --twk-text-colors-read-only-primary: #2e2e38;
  --twk-text-colors-read-only-secondary: #656579;
  --twk-icon-colors-default-primary: #656579;
  --twk-icon-colors-default-secondary: #9897a6;
  --twk-icon-colors-default-tertiary: #c3c3cb;
  --twk-icon-colors-default-extra-a: #2e2e38;
  --twk-icon-colors-default-extra-b: #fff;
  --twk-icon-colors-hover-primary: #4d4d5c;
  --twk-icon-colors-hover-secondary: #656579;
  --twk-icon-colors-focus-primary: #4d4d5c;
  --twk-icon-colors-focus-secondary: #656579;
  --twk-icon-colors-active-primary: #2e2e38;
  --twk-icon-colors-active-secondary: #656579;
  --twk-icon-colors-disabled-primary: #9897a6;
  --twk-icon-colors-disabled-secondary: #656579;
  --twk-icon-colors-selected-default-primary: #656579;
  --twk-icon-colors-selected-default-secondary: #afaeba;
  --twk-icon-colors-selected-disabled-primary: #9897a6;
  --twk-icon-colors-read-only-primary: #9897a6;
  --twk-accent-success-primary: #197335;
  --twk-accent-success-secondary: #26a04b;
  --twk-accent-success-tertiary: #2db757;
  --twk-accent-success-extra-a: #e7fce8;
  --twk-accent-success-extra-b: #8bf9a2;
  --twk-accent-success-extra-c: #48e674;
  --twk-accent-warning-primary: #975100;
  --twk-accent-warning-secondary: #d07200;
  --twk-accent-warning-tertiary: #ee8300;
  --twk-accent-warning-extra-a: #fcf5f0;
  --twk-accent-warning-extra-b: #fcd9bc;
  --twk-accent-warning-extra-c: #fdbc84;
  --twk-accent-error-primary: #c70117;
  --twk-accent-error-secondary: #ff4336;
  --twk-accent-error-tertiary: #ff735e;
  --twk-accent-error-extra-a: #fcf5f3;
  --twk-accent-error-extra-b: #fcd7cf;
  --twk-accent-error-extra-c: #fdbaab;
  --twk-accent-error-extra-d: #ea011d;
  --twk-accent-error-extra-e: #a40011;
  --twk-accent-info-primary: #0f69ae;
  --twk-accent-info-secondary: #1275c1;
  --twk-accent-info-tertiary: #188ce5;
  --twk-accent-info-extra-a: #f4f7fc;
  --twk-accent-info-extra-b: #d8e5fd;
  --twk-accent-info-extra-c: #afcdfb;
  --twk-accent-info-extra-d: #0a558e;
  --twk-accent-info-extra-e: #064372;
  --twk-accent-info-extra-f: #083153;
  --twk-accent-info-extra-g: #55a6fc;
  --twk-accent-visited-primary: #724bc3;
  --twk-accent-visited-secondary: #9d7cd4;
  --twk-accent-visited-extra-a: #f8f6fa;
  --twk-accent-visited-extra-b: #e5dcf1;
  --twk-accent-visited-extra-c: #4a279f;
  --twk-accent-visited-extra-d: #8965cc;
  --twk-accent-maroon-primary: #82336a;
  --twk-accent-maroon-secondary: #da5bb3;
  --twk-accent-maroon-extra-a: #faf5f8;
  --twk-accent-maroon-extra-b: #f5dbeb;
  --twk-accent-teal-primary: #17706f;
  --twk-accent-teal-secondary: #229b9a;
  --twk-accent-teal-extra-a: #e1fcfb;
  --twk-accent-teal-extra-b: #8bf4f1;
  --twk-accent-teal-extra-c: #44e0de;
  --twk-accent-teal-extra-d: #0b4847;
  --twk-contrast-high-neutral-0: #fff;
  --twk-contrast-high-neutral-50: #f3f3f5;
  --twk-contrast-high-neutral-600: #656579;
  --twk-contrast-high-neutral-750: #4d4d5c;
  --twk-contrast-high-neutral-900: #2e2e38;
  --twk-contrast-low-neutral-400: #9897a6;
  --twk-contrast-low-neutral-900: #2e2e38;
  --twk-contrast-brand-primary: #ffe600;
  --twk-contrast-brand-secondary: #2e2e38;
  --twk-contrast-brand-hover-primary: #4d4d5c;
  --twk-contrast-brand-focus-primary: #4d4d5c;
  --twk-static-neutral-0: #fff;
  --twk-static-neutral-900: #2e2e38;
  --twk-static-error-50: #fcd7cf;
  --twk-shadow-colors-primary: rgb(13.7% 13.7% 18.4% / 0.06);
  --twk-shadow-colors-secondary: rgb(13.7% 13.7% 18.4% / 0.08);
  --twk-shadow-colors-alt-primary: rgb(10.2% 10.2% 14.1% / 0.12);
  --twk-shadow-colors-alt-secondary: rgb(10.2% 10.2% 14.1% / 0.16);
  --twk-body-bg-color: #f9f9fa;
  --twk-body-text-color: #2e2e38;
}
