// Load Themes and Variables
@use './assets/scss/theme/dark';
@use './assets/scss/theme/light';
@use './assets/scss/theme/variables/variables';
@use './assets/scss/theme/fonts';
@use './assets/scss/mixins';

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  font-weight: var(--font-weight-light);

  .root {
    flex-direction: column;
    height: 100%;
    display: flex;
  }
}
